apiVersion: jenkins.io/v1alpha2
kind: Jenkins
metadata:
  name: master
  namespace: {{ .Values.namespace }}
spec:
  master:
    # tolerations and nodeSelector aren't available through the jenkins-operator chart configuration
    tolerations:
    - key: team
      operator: Equal
      value: platform
      effect: NoSchedule
    nodeSelector:
      team: platform
