pipelineJob('integration-tests/nuxeo-server-web-ui/server-release-web-ui-build') {
  // Description
  description('Automatically validate the latest promoted Nuxeo version with the next Web UI version')
  definition {
    // Definition
    cpsScm {
      scm {
        // SCM
        git {
          // Repositories
          remote {
            // Repository URL
            url('https://github.com/nuxeo/nuxeo-integration-tests')
            // Credentials
            credentials('github-branch-source')
          }
          // Branches to build
          branches('*/2021')
          browser {
            // Repository browser
            githubWeb {
              // URL
              repoUrl('https://github.com/nuxeo/nuxeo-integration-tests')
            }
          }
          extensions {
            {{- .Values.jobs.extensions.gitSCMStatusChecksExtension | nindent 12 }}
          }
        }
      }
      // Lightweight checkout
      lightweight(true)
      // Script Path
      scriptPath('nuxeo-web-ui/Jenkinsfiles/server-web-ui.groovy')
    }
  }
  parameters {
    booleanParam {
      name('SERVER_BUILD')
      defaultValue(false)
      description('Use latest build of Nuxeo server')
    }
    booleanParam {
      name('WEB_UI_BUILD')
      defaultValue(true)
      description('Use latest build of WebUI')
    }
    string {
      name('WEB_UI_BRANCH')
      defaultValue('maintenance-3.0.x')
      description('Which branch to run the WebUI ftests')
    }
  }
  properties {
    {{- .Values.jobs.properties.buildDiscarder | nindent 4 }}
    {{- .Values.jobs.properties.disableConcurrentBuilds | nindent 4 }}
    githubProjectUrl('https://github.com/nuxeo/nuxeo-integration-tests')
    {{- .Values.jobs.serverWebUIIntegrationTests.triggers | nindent 4 }}
  }
}
