# See https://github.com/jenkinsci/helm-charts/blob/main/charts/jenkins/values.yaml.
agent:
  # Kubernetes cloud.
  namespace: {{ .Values.namespace }}
  containerCap: 100
  # Pod templates.
  podTemplates:
    base: |
      {{- tpl (readFile "pod-templates/base.yaml.gotmpl") . | nindent 6 }}
    nodejs: |
      {{- tpl (readFile "pod-templates/nodejs.yaml.gotmpl") . | nindent 6 }}
    nuxeo-js-client: |
      {{- tpl (readFile "pod-templates/nuxeo-js-client.yaml.gotmpl") . | nindent 6 }}
    nuxeo-jsf-lts-2021: |
      {{- tpl (readFile "pod-templates/nuxeo-jsf-lts-2021.yaml.gotmpl") . | nindent 6 }}
    nuxeo-jsf-lts-2023: |
      {{- tpl (readFile "pod-templates/nuxeo-jsf-lts-2023.yaml.gotmpl") . | nindent 6 }}
    nuxeo-package-10: |
      {{- tpl (readFile "pod-templates/nuxeo-package-10.yaml.gotmpl") . | nindent 6 }}
    nuxeo-package-lts-2021: |
      {{- tpl (readFile "pod-templates/nuxeo-package-lts-2021.yaml.gotmpl") . | nindent 6 }}
    nuxeo-package-lts-2021-nodejs18: |
      {{- tpl (readFile "pod-templates/nuxeo-package-lts-2021-nodejs18.yaml.gotmpl") . | nindent 6 }}
    nuxeo-package-lts-2023: |
      {{- tpl (readFile "pod-templates/nuxeo-package-lts-2023.yaml.gotmpl") . | nindent 6 }}
    nuxeo-package-lts-2023-nodejs18: |
      {{- tpl (readFile "pod-templates/nuxeo-package-lts-2023-nodejs18.yaml.gotmpl") . | nindent 6 }}
    nuxeo-package-lts-2025: |
      {{- tpl (readFile "pod-templates/nuxeo-package-lts-2025.yaml.gotmpl") . | nindent 6 }}
    nuxeo-benchmark-lts-2021: |
      {{- tpl (readFile "pod-templates/nuxeo-benchmark-lts-2021.yaml.gotmpl") . | nindent 6 }}
    nuxeo-benchmark-lts-2023: |
      {{- tpl (readFile "pod-templates/nuxeo-benchmark-lts-2023.yaml.gotmpl") . | nindent 6 }}
    nuxeo-benchmark-lts-2025: |
      {{- tpl (readFile "pod-templates/nuxeo-benchmark-lts-2025.yaml.gotmpl") . | nindent 6 }}
    nuxeo-platform-10: |
      {{- tpl (readFile "pod-templates/nuxeo-platform-10.yaml.gotmpl") . | nindent 6 }}
    nuxeo-platform-lts-2021: |
      {{- tpl (readFile "pod-templates/nuxeo-platform-lts-2021.yaml.gotmpl") . | nindent 6 }}
    nuxeo-platform-lts-2023: |
      {{- tpl (readFile "pod-templates/nuxeo-platform-lts-2023.yaml.gotmpl") . | nindent 6 }}
    nuxeo-platform-lts-2025: |
      {{- tpl (readFile "pod-templates/nuxeo-platform-lts-2025.yaml.gotmpl") . | nindent 6 }}
    nuxeo-web-ui-ftests: |
      {{- tpl (readFile "pod-templates/nuxeo-web-ui-ftests.yaml.gotmpl") . | nindent 6 }}
serviceAccountAgent:
  name: {{ .Values.podTemplates.serviceAccount }}