pipelineJob('explorer/test-trigger') {
  definition {
    // Definition
    cpsScm {
      scm {
        // SCM
        git {
          // Repositories
          remote {
            // Repository URL
            url('https://github.com/nuxeo/nuxeo-explorer')
            // Credentials
            credentials('github-branch-source')
          }
          // Branches to build
          branches('*/master')
          browser {
            // Repository browser
            githubWeb {
              // URL
              repoUrl('https://github.com/nuxeo/nuxeo-explorer')
            }
          }
        }
      }
      // Lightweight checkout
      lightweight(true)
      // Script Path
      scriptPath('ci/Jenkinsfiles/test-trigger.groovy')
    }
  }
  parameters {
    booleanParam {
      name('IS_PROMOTION')
      defaultValue(false)
      description('Check if mimicking a promotion instead of a build')
    }
    string {
      name('BUILD_DESCRIPTION')
      defaultValue('')
      description('The description to mimick.\nSample for build: \'Build 2021.22.4\'.\nSample for promotion: \'Release 2021.22 from build 2021.22.4\' or \'Release 2021.22.4\'.')
      trim(true)
    }
  }
  properties {
    {{- .Values.jobs.properties.buildDiscarder | nindent 4 }}
    {{- .Values.jobs.properties.disableConcurrentBuilds | nindent 4 }}
    githubProjectUrl('https://github.com/nuxeo/nuxeo-explorer')
  }
}