cronjob:
  suspend: {{ not .Values.awsCredentialsRotation }}
  # Every Sunday at midnight
  schedule: "0 0 * * 0"
  image: nuxeo/aws-iam-credential-rotate
secret:
  namespace: {{ .Values.namespace }}
  accessKeyId: {{ env "AWS_ACCESS_KEY_ID" }}
  secretAccessKey: {{ env "AWS_SECRET_ACCESS_KEY" }}
