apiVersion: v1
kind: Secret
metadata:
  name: nexus
data:
  licence.lic: {{ index .Values.secrets.nexus "license"  | b64enc | quote}}
  passwords.json: {{ index .Values.secrets.nexus "passwords" | b64enc | quote }}
