folder('frameio') {
  properties {
    authorizationMatrix {
      inheritanceStrategy {
        inheriting()
      }
      entries {
        {{- range .Values.jobs.folder.permissions.read.frameio }}
        user {
          name('{{ . }}')
          permissions([
            'Job/Build',
            'Job/Cancel',
            'Job/Discover',
            'Job/ExtendedRead',
            'Job/Read',
            'Job/Workspace',
          ])
        }
        {{- end }}
      }
    }
  }
}